body {
  margin: auto;
  max-width: 900px;
}

h1 {
  color: #33334C;
  font: 55px 'Philosopher';
  text-transform: uppercase;
}

img {
  float: left;
  margin-right: 100px;
}

p {
  font: 1.5em 'Alegreya';
  text-align: justify;
}
